{% extends 'base.html.twig' %}

{% block body %}
   <h1> {{message}}</h1>
<script>
	let books={};
    async function sendData(url, data) {
        fetch(url, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
                //body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then((data) => {
                //if (data['sent'] === 'OK') {
                    print(data);
                    console.log(data);
                    //alert(data['message']);
                   // window.location.href = '/';
               // } else
               //     console.log('Ошибка отправки данных');
            })
            .catch((error) => {
                console.error(error);
            });
    }
	
		sendData('/books/getallbooks',[]);
        function print(data){
            for(var el in data){
                document.write('<p>'+data[el]['title']+', '+data[el]['year']+', ');
                for(var ln in data[el]['last_names']){
                    document.write(data[el]['last_names'][ln]+', ');
                }
                document.write(data[el]['publisher']+'</p>');
            }
        }

	</script>
{% endblock %}